* {
  margin: 0;
}

body {
  font-size: 16px;
  background-color: #acdde7;
}

.contenedor-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #adb9e3;
  padding: 1rem;
  .titulo {
    color: whitesmoke;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.image {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: beige;
  padding: 1rem;
  border-radius: 0.25rem;
}

.image img {
  margin-bottom: 1rem;
}

.image ul li b {
  color: #b744b8;
 font-family: serif;
}
.image ul li {
  color: #373f51;
}
.conteiner-description {
  display: flex;
  gap: 1rem;
  padding: 2rem 2rem 1rem 2rem;
}

.description {
  background: beige;
  padding: 1rem;
  border-radius: 0.25rem;
}

.description h2 {
  color: #373f51;
  margin-bottom: 1rem;
}

.description p {
  color: #b744b8;
}

.conteiner-contact {
  display: flex;
  padding: 1rem 2rem 2rem 2rem;
}

.contact {
  width: 100%;
  background: #a379c9;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
}

.contact h2 {
  color: beige;
  margin-bottom: 1rem;
}

.contact label {
  color: beige;
  font-family: sans-serif;
  

}

.footer {
  background: #adb9e3;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.footer h4 {
  color: whitesmoke;
  font-weight: 300;
}
